.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.titulos {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
  color: #555;

}

.form-group {
  width: 100%;
  margin: 10px auto;
}

.form-group.autor-cliente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnas-autor-cliente {
  margin: 0px 10px;
}

.columnas-autor-cliente:nth-child(1) {
  margin-left: 0;
}

.columnas-autor-cliente:last-child {
  margin-right: 0;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #5E81F4;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}

textarea.form-control {
  resize: vertical;
  min-height: 80px;
}

select.form-control {
  cursor: pointer;
  background-color: #f8f9fa;
}

/* Contenedor de la vista previa de la imagen */
.preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background-color: #F0F0F3;
  /* Fondo suave para resaltar la vista previa */
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
}

/* Imagen de vista previa */
.img-preview {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #5E81F4;
  /* Color principal del proyecto */
  padding: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animación sutil al cargar la imagen */
.img-preview:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}


.btn-success {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #5E81F4;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-success:hover {
  background-color: #4a6edb;
}

input,
select,
textarea,
option {
  outline: none;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .form-group {
    max-width: 100%;
  }

  h2 {
    font-size: 22px;
  }
}