<h1 class="titulos">Proyectos</h1>
<section class="contenedor-proyectos">
  <div class="contenedor-buscador">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#8181A5"
    >
      <path
        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
      />
    </svg>
    <input type="text" id="buscador" placeholder="Buscar proyecto" />
  </div>
  <div class="proyectos" *ngFor="let proyecto of proyectos">
    <img [src]="proyecto.foto" alt="" class="fotos-proyectos" />

    <div class="columna-info">
      <h3>{{ proyecto.nombre }}</h3>
      <p class="descripcion">{{ proyecto.descripcion }}</p>
    </div>

    <div class="columna-info">
      <h3>Estado</h3>
      <p>{{ proyecto.estado }}</p>
    </div>

    <div class="columna-info">
      <h3>Tecnologías</h3>
      <!-- 
        Se imprime el array de tecnologías como una cadena de texto en una sola línea.
        - `proyecto.tecnologias?.join(', ')`:
          - `.join(', ')` convierte el array en una cadena separada por comas.
          - `?.` (optional chaining) evita errores si `tecnologias` es `undefined` o `null`.
        - Si `tecnologias` no tiene datos, mostramos "No hay tecnologías registradas".
      -->
      <p>
        {{
          proyecto.tecnologias?.join(", ") || "No hay tecnologías registradas"
        }}
      </p>
    </div>
  </div>
</section>
