.contenedor-proyectos {
	background-color: white;
	border-radius: 12px;
	width: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;

}

.contenedor-buscador {
	background-color: #F0F0F3;
	padding: 15px;
	outline: none;
	width: 300px;
	border: transparent solid 1px;
	border-radius: 6px;
	margin: 20px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#buscador {
	margin-left: 10px;
	background-color: transparent;
	border: transparent;
	color: #8181A5;
	outline: none;
	font-weight: bold;
	width: 80%;
	font-size: 14px;
}


.proyectos {
	padding: 20px;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border: #C8C8C8 1px solid;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.titulos {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.proyectos:first-child {
	margin-top: 20px;
}

.proyectos:last-child {
	margin-bottom: 20px;
}

.columna-info {
	margin-left: 20px;
	margin-right: 20px;
}

.fotos-proyectos {
	height: 140px;
	width: 250px;
	object-fit: cover;
	border-radius: 5px;
	border: #C8C8C8 1px solid;
	margin-right: 20px;
}

.contenedor-buscador-crear {
	display: flex;
	flex-direction: row;
	align-items: stretch
}

.contenedor-crear {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #F0F0F3;
	padding: 15px;
	border-radius: 6px;
	color: #8181A5;
	margin: 20px;
	margin-left: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

.contenedor-crear svg {
	margin-right: 5px;
}


.contenedor-crear:hover {
	background-color: #dcdcdf;
}

.columna-info.botones {
	display: flex;
	flex-direction: column;
	margin-right: 0px;
}

.columna-info.botones button {
	margin: 10px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	margin-right: 0px;
	cursor: pointer;
	background-color: #F0F0F3;
	color: #8181A5;
	font-weight: bold;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.columna-info.botones button:hover {
	background-color: #dcdcdf;
}

.columna-info.botones button:last-child {
	background-color: #5E81F4;
	color: white;
}

.contenedor-izquierda {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.columna-info.nombre-descripcion {
	width: 400px;
}

.columna-info.estado {
	width: 100px;
}

.columna-info.tecnologias {
	width: 200px;
}

.estado-finalizado {
	background-color: rgb(236, 255, 236);
	color: rgb(2, 215, 2);
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
}

.estado-en-curso {
	background-color: rgb(255, 243, 221);
	color: orange;
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
}