<a routerLink="/proyectos" routerLinkActive="active" class="a-titulo">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="black"
  >
    <path d="M400-80 0-480l400-400 61 61.67L122.67-480 461-141.67 400-80Z" />
  </svg>
  <h1 class="titulos">Facturas de {{ nombreproyecto }}</h1>
</a>

<section class="factura-content">
<div class="contenedor-filtro">
  <!-- Buscador -->
  <div class="contenedor-buscador">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#8181A5"
    >
      <path
        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
      />
    </svg>
    <input
      type="text"
      id="buscador"
      placeholder="Buscar factura por Número"
      (input)="buscarFactura($event)"
    />
  </div>

  <div class="contenedor-leyenda">
    <div class="leyenda-item">
      <div class="leyenda-color compra"></div>
      <span>Compra</span>
    </div>
    <div class="leyenda-item">
      <div class="leyenda-color venta"></div>
      <span>Venta</span>
    </div>
  </div>
</div>

  <div
  class="factura"
  *ngFor="let factura of facturasFiltradas"
  (click)="abrirVentanaInfo(factura.numeroFactura)"
>
  <div class="factura-info">
    <div class="tipo-indicador" [ngClass]="{'compra': factura.tipo?.toLowerCase() === 'compra', 'venta': factura.tipo?.toLowerCase() === 'venta'}"></div>

    <h3>Número: {{ factura.numeroFactura }}</h3>
  </div>

  <p><strong>Cliente:</strong> {{ factura.cliente }}</p>
  <p><strong>Autor/Emisor: </strong>{{ factura.nombre }}</p>
  <p><strong>Fecha:</strong> {{ factura.fecha }}</p>
  <p>
    <strong>Total:</strong>
    {{
      factura.total || factura.baseImponible * (1 + factura.iva / 100)
        | currency : "EUR"
    }}
  </p>
</div>
<div *ngIf="sinResultados" class="mensaje-no-encontrado">
  <p>No se encontró ninguna factura con ese número.</p>
</div>

</section>

<section class="presupuestos" *ngIf="facturasFiltradas.length !== 0">
  <div class="presupuesto presupuesto-total">
    <h2>Presupuesto Total Actual:</h2>
    <div class="contenedor-btn-presupuesto">
      <button (click)="guardarTotalFinal(presupuestoFinal, codigoProyecto)" [disabled]="!btnGuardarActivo" [ngClass]="{ 'btn-activo': btnGuardarActivo, 'btn-inactivo': !btnGuardarActivo }">
        Guardar como Total Final
      </button>
      <p style="margin: 0px">{{ presupuestoFinal | currency : "EUR" }}</p>
    </div>
  </div>

  <div class="presupuesto presupuesto-total">
    <h2>Presupuesto Total Final:</h2>
    <p style="margin: 0px">{{ presupuestoBBDD | currency : "EUR" }}</p>
  </div>
</section>

<div *ngIf="ventanaInfo && factura != null" class="ventana-info">
  <div class="columnas primera">
    <h2>Factura N°: {{ factura.numeroFactura }}</h2>
    <strong>Fecha: {{ factura.fecha }}</strong>
    <p>Tipo de Factura: {{ factura.tipo }}</p>
  </div>

  <div class="columna-doble">
    <div class="columnas emisor">
      <strong>Datos del emisor</strong>
      <p>Nombre: {{ factura.nombre }}</p>
      <p>CIF/NIF: {{ factura.cif }}</p>
      <p>Dirección: {{ factura.direccion }}</p>
    </div>

    <div class="columnas cliente">
      <strong>Datos del Cliente</strong>
      <p>Nombre: {{ factura.cliente }}</p>
      <p>CIF/NIF: {{ factura.cifCliente }}</p>
      <p>Dirección: {{ factura.direccionCliente }}</p>
    </div>
  </div>

  <div class="columnas importes">
    <strong>Importes</strong>
    <p>Base Imponible: {{ factura.baseImponible }}€</p>
    <p>IVA: {{ factura.iva }}%</p>
    <p>IRPF: {{ factura.irpf }}%</p>
    <p>
      <strong>Total: {{ factura.total }}</strong>
    </p>
  </div>

  <div class="boton">
    <button (click)="cerrarVentanaInfo()" class="btn-cerrar">Cerrar</button>
  </div>
</div>

<div class="overlay" *ngIf="overlay"></div>
