/* factura-vista.component.css */

.factura-content {
  background-color: white;
  border-radius: 12px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.titulos {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: white;
}

.img-logo {
  height: 50px;
  width: 170px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  margin: 10px;
}

.enlaces {
  text-decoration: none;
  color: #8181A5;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enlaces:hover {
  color: #5E81F4;
}



.factura-content {
  padding: 20px;
  border-radius: 8px;
}




.contenedor-buscador {
  background-color: #F0F0F3;
  padding: 15px;
  outline: none;
  width: 100%;
  max-width: 350px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#buscador {
  margin-left: 10px;
  background-color: transparent;
  border: transparent;
  color: #8181A5;
  outline: none;
  font-weight: bold;
  width: 100%;
  font-size: 14px;
}

.facturas-listado {
  display: flex;
  flex-direction: column;

}

.factura{
  padding: 20px;
	margin-bottom: 20px;
	border: #C8C8C8 1px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}