.titulos {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin: 0%;

}

.a-titulo {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.a-titulo:hover {
  text-decoration: underline;
}
.contenedor-proyectos {
  width: 90%;
  margin: 0 auto;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: none;
}

.contenedor-buscador {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}


.proyectos {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: none;
}

.columna-info {
  margin-bottom: 15px;
}

.columna-info label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 80px;
}
.columna-info.botones {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-container {
  display: flex;
  gap: 10px;
  /* Espacio entre botones */
}

button {
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-actualizar {
  background-color: #5E81F4;
  color: white;
}

.btn-actualizar:hover {
  background-color: #4761c2;
}

.btn-cancelar {
  background-color: gray;
  color: white;
}

.btn-cancelar:hover {
  background-color: lightgray;
}


.lista-tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.lista-tecnologias label {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f8f8f8;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lista-tecnologias input[type="checkbox"] {
  accent-color: #007bff;
}